/* Biar widget di pojok kanan bawah tersusun vertikal */
.esri-ui-bottom-right {
  display: flex;
  flex-direction: column-reverse; /* zoom paling bawah */
  align-items: flex-end; /* rapat ke kanan */
}

/* Atur jarak antar widget */
.esri-ui-bottom-right > .esri-component {
  margin-bottom: 5px; /* biar ada spasi antar tombol */
}

@media (max-width: 1036px) {
  .esri-ui-bottom-right {
    margin-bottom: 480px; /* tablet */
  }
}

@media (max-width: 640px) {
  .esri-ui-bottom-right {
    margin-bottom: 100px; /* hp kecil */
  }
}
